<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap360.saporgsync.mapper.DepartmentMapper">
	<insert id="insertBatch">
		INSERT INTO *
		()
		VALUES
		<foreach collection="departments" item="item" separator=",">
			(item.)
		</foreach>
	</insert>
</mapper>