<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sap360.saporgsync.mapper.UserMapper">
	<insert id="insertBatch">
		INSERT INTO user
		(user_id, `name`, dept_id, doc_entry)
		VALUES
		<foreach collection="users" item="item" separator=",">
			(#{item.userId}, #{item.name}, #{item.deptId}, #{item.docEntry})
		</foreach>
	</insert>
</mapper>